* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #fdecef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 15px 25px;
  background: #fdecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
  color: #e63946;
}

.nav-icons span {
  font-size: 22px;
  margin-left: 10px;
  cursor: pointer;
}

/* CARD */
.card {
  background: white;
  width: 360px;
  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin-top: 40px;
}

.valentine-img {
  width: 140px;
  margin-bottom: 15px;
}

h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

h1 span {
  color: #e63946;
}

p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background: #e63946;
  color: white;
}

#yesBtn:hover {
  transform: scale(1.05);
}

#noBtn {
  background: #f1f1f1;
  white-space: nowrap; 
}

.card {
  position: relative;
}

.no-wrapper {
  position: relative;
}

#noBtn {
  position: absolute;
  padding: 10px 18px;
  transition: all 0.2s ease;
}